@import "~bootstrap";
@import "./assets//css/styles.scss";
@import '~highlight.js/scss/dracula';

blockquote {
  border-left: 4px solid gray;
  background-color: gainsboro;
  padding: 15px 5px 5px 10px;
}

pre {
  border: 1px dotted gainsboro;
}

addr {
  display: block;
  margin-left: 10px;
}

nav {
  background-color: black !important;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

[class^="hljs"] {
  white-space: pre;
}

.hljs {
  white-space: pre;
}

.main-adjust {
  position: relative;
  top: 88px;
}

.main-row-adjust {
  background-color: white;
  z-index: 1000;
}

.head-adjust {
  box-shadow: 5px 5px 20px grey;
  padding: 5px;
  small {
    padding-left: 2px;
  }
}

.small-adjust {
  font-size:30%;
  display: block;
}
