@import "~bootstrap";

blockquote {
  border-left: 4px solid gray;
  background-color: gainsboro;
  padding: 15px 5px 5px 10px;
}

pre {
  border: 1px dotted gainsboro;
}

addr {
  display: block;
  margin-left: 10px;
}