<div>
  <app-complex demo={tabs} id='complexDemo'></app-complex>
</div>
<button class='btn btn-primary btn-sm' style='display: block' n-on-click={(e) => this.setOther(e)}>Set other complex value</button>
<hr></hr>
<div>
  <app-complex-bool demo={false} id='complexDemoBool'></app-complex-bool>
</div>
<button class='btn btn-success btn-sm' style='display: block' n-on-click={(e) => this.setYesNo(e)} data-value='yes'>Set Yes</button>
<button class='btn btn-danger btn-sm' style='display: block' n-on-click={(e) => this.setYesNo(e)} data-value='no'>Set No</button>